
<h1 class="cover-heading">Todo Baseline App</h1>
<p class="lead">This project serves as a learning and exploration tool to experiment with different ways in which the asset pipeline can
be integrated with a RequireJS/BackboneJS framework.
</p>
<p class="lead">
  <a href="https://github.com/looselycoupled/todo-baseline" class="btn btn-lg btn-default" target="_blank">Github Repo</a>
</p>
